/* .footer{
   clear: both;
   position: relative;
   height: 100px;
   margin-top:-200px;
    
}  */
/* .heading-text{
    color:white;
    position: relative;
    padding-right: 2px;
    display: flex;
    justify-content: end;
}
.left{
    color:white;
}
.right{
    display: flex;
    color: blue;
    
} */ 